{% extends 'myapp/header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% if error %}
<center><b>{{error}}</b></center>
{% endif %}
       <form name="chpassword" method="post" action="{% url 'change_password' %}" >
            {%csrf_token %}      
 
       	<table align="center" cellspacing="6">
       	  
       	        	 
       	  <tr>
       	  	<td>password</td>
       	  	<td><input type="password" id="oldpassword" name="oldpassword" required="required"></td>
       	  </tr>
              <tr>
                    <td>Updatepassword</td>
                    <td><input type="newpassword" id="newpassword"   name="newpassword" required="required"></td>
              </tr>
               <tr>
                  <td>confirm password</td>
                  <td><input type="password" id="cpassword" name="cpassword" required="required"></td>
              </tr>     
       	  
       	  <tr>
                  <td colspan="2" align="center">
                  <input type="submit" value="save changes">


       	  	</td>
       	  		
       	  </tr>
            </table>
       </form>



 {% endblock %} 
</body>
</html> 